@model COMP2006_S2016_FinalExamV2.Models.Artist

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--
        Author's name = Dilpreet Singh
        Student	Number = 200306382
        Date Modified = 18-08-2016
        Short Version History = list artist
        File Description = to display all the Artist from database
-->


<h2>Details</h2>

<div>
    <h4>Artist</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    
    @Html.ActionLink("Back to List", "Index")
</p>
